<mat-card>
  <form (submit)="onSaveUser(userForm)" #userForm="ngForm">
    <mat-form-field class="mat-form-field">
      <input
        matInput
        class="input"
        type="text"
        placeholder="User Name"
        [ngModel]="user?.name"
        name="name"
        #name="ngModel"
        required>
      <mat-error *ngIf="name.invalid">
        Please enter a user name.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="mat-form-field">
      <input
      matInput
      class="input"
      type="text"
      placeholder="User Email"
      [ngModel]="user?.email"
      name="email"
      #email="ngModel"
      required>
      <mat-error *ngIf="email.invalid">
        Please enter a user email.
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save user</button>
  </form>
</mat-card>
